{% extends 'base.html' %}
{% load static %}

{% block title %} | Claim Process Finished{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% include 'navbar.html' with user=user %}

  <div class="body-container">
    <div class="container">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h3>Contact us</h3>

                        <p>This system is to automate the insurance claim process to save client's valueable time. If you have any suggetion or inquiry to make
                        please drop a hello at following emails</p>

                        <ul style="list-style-type:circle">
                            <li>Achinthya Subasinghe - <a href="mailto:achinthyasubasinghe97@gmail.com">achinthyasubasinghe97@gmail.com</a></li>
                            <li>Senura Ruwinda - <a href="mailto:senura96@gmail.com">senura96@gmail.com</a></li>
                            <li>Fazli Imaam - <a href="mailto:fazlimaam@gmail.com">fazlimaam@gmail.com</a></li>
                            <li>Hiruni Kasthuriarachchi - <a href="mailto:hirunipabasara97@yahoo.com">hirunipabasara97@yahoo.com</a></li>
                        </ul>

                        <p>For further details contact Fazil Imaam at 077 805 5887</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <a href="{% url 'home' %}" class="btn btn-primary btn-block">Back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body-bg"></div>
{% endif %}
{% endblock %}

{% block styles %}
<style>
  .body-container{
        padding-top:200px;
        height:100vh !important;
        background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('{% static 'car-bg.jpg' %}');
        background-repeat: no-repeat;
        background-size:cover;
    }
</style>
{% endblock styles %}