{% extends 'base.html' %}
{% load static %}

{% block title %} | Claim Process Finished{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% include 'navbar.html' with user=user %}

  <div class="body-container">
    <div class="container">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        {% if churn_status %}
                            <h3>Affliated repair center discount of 20% awarded.</h3>
                            <h3>Contact Agent Sam at 077 805 5887</h3>
                        {% else %}
                            <h3>For further processing contact Agent Sam at 077 805 5887</h3>
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <a href="{% url 'home' %}" class="btn btn-primary btn-block">Back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body-bg"></div>
{% endif %}
{% endblock %}

{% block styles %}
<style>
  .body-container{
        padding-top:100px;
        height:100vh;
        background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('{% static 'car_bg.jpg' %}');
        background-repeat: no-repeat;
        background-size:cover;
    }
</style>
{% endblock styles %}