{% extends 'base.html' %}
{% load static %}

{% block title %} | Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% include 'navbar.html' with user=user %}

  <div class="body-container d-flex justify-content-center align-items-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a href="{% url 'update_user' %}" class="main-menu">
            <div class="box mb-4 mt-1">
              <div class="row">
                <div class="col text-center">
                  <i class="fas fa-user-tie"></i>
                  <h4 class="h4 mt-3">Edit Profile</h4>
                  <p>Update user data in the system.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a href="{% url 'accident_claim' %}" class="main-menu">
            <div class="box mb-4 mt-1">
              <div class="row">
                <div class="col text-center">
                  <i class="fas fa-car-crash"></i>
                  <h4 class="h4 mt-3">Accident Claim</h4>
                  <p>Claim your insurance here.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a href="{% url 'claim_status' %}" class="main-menu">
            <div class="box mb-4 mt-1">
              <div class="row">
                <div class="col text-center">
                  <i class="far fa-clipboard"></i>
                  <h4 class="h4 mt-3">Claim Status</h4>
                  <p>Your last claim record can be viewd here</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <a href="{% url 'contactus' %}" class="main-menu">
          <div class="box mb-4 mt-1">
            <div class="row">
              <div class="col text-center">
                <i class="far fa-envelope"></i>
                <h4 class="h4 mt-3">Conatct</h4>
                <p>Do you need anything to clarify? Just put a hello in a email.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block styles %}
<style>
  .body-container{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{% static 'car-bg1.jpg' %}');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
  }
</style>
{% endblock styles %}