{% extends 'base.html' %}
{% load static %}

{% block title %} | Update profile{% endblock %}

{% block content %}
{% include 'navbar.html' with user=user %}

<div class="body-container">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card custom-card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% for non_field_error in form.non_field.errors %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ non_field_error }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% endfor %}
                            {% for field in form %}
                                <div class="form-row">
                                    <div class="form-group col">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                            {% for non_field_error in userdataform.non_field.errors %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ non_field_error }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {% endfor %}
                            {% for field in userdataform %}
                                <div class="form-row">
                                    <div class="form-group col">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
<style>
    .body-container{
        padding-top:200px;
        padding-bottom:100px;
        background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('{% static 'car-bg1.jpg' %}');
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
    }
</style>
{% endblock styles %}

{% block scripts %}
    <script>
        function validate(){
            document.getElementById('id_Email').value = document.getElementById('id_Email').value.trim();
            return false;
        }
    </script>
{% endblock scripts %}